@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  overflow-x: hidden;
  scroll-padding-top: 100px;
}

body._lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url('../img/main-bg1.png');
  background-attachment: fixed;
  background-color: #ffffffb3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 65%;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.title {
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}

.text {
  color: #111;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
}
@media (max-width: 1650px) {
    .container {
      max-width: 1230px;
    }
  }

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .title {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .title {
    font-size: 20px;
  }
}